@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["WelcomeMessage"]</h1>
    <p>@Localizer["LearnMore"]</p>
</div>
